*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

#root, #__next {
	isolation: isolate;
}



body {
	margin: 1rem;
}

.main {
	display: grid;
	gap: 1rem;
}

.alert-info, h1 {
	text-align: center;
}

.alert-info {
	border: 1px solid grey;
	background-color: hsl(180, 100%, 90%);
	padding: .5rem;
	font-weight: 600;
}

.alert-info a {
	text-decoration: none;
	color: black;

}

h1 {
	font-size: 3rem;
}




