body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

:root {
    /*background-color    */
    --color-bg-info: hsl(219, 100%, 90%);
    --color-bg-success: hsl(139, 60%, 88%);
    --color-bg-warning: hsl(59, 90%, 89%);
    --color-bg-error: hsl(354, 77%, 90%);

    /*text-color    */
    --color-text-info: hsl(246, 60%, 35%);
    --color-text-success: hsl(144, 72%, 24%);
    --color-text-warning: hsl(50, 66%, 35%);
    --color-text-error: hsl(344, 99%, 23%);
}

.message {
    box-sizing: border-box;
    margin: 1em 0em;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
}

.message-info {
    background-color: var(--color-bg-info);
    color: var(--color-text-info);
}

.message-success {
    background-color: var(--color-bg-success);
    color: var(--color-text-success);

}

.message-warning {
    background-color: var(--color-bg-warning);
    color: var(--color-text-warning);

    
}

.message-error {
    background-color: var(--color-bg-error);
    color: var(--color-text-error);

    
}