

.fancy-header {
	color: hsl(81, 100%, 61%);
	text-decoration: underline;
}


.header-container {
	background:  hsl(0, 0%, 22%);
	display: flex;
	width: 800px;
	margin: auto;
	justify-content: center;
	margin-top: 30px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px 5px #888;
}

.main {
	padding-top: 10px;
	padding-left: 30px;
	max-width: 100%;
}

p {
	color: white;
	text-align: center;
}

.page-wrapper {
	position: static;
/*  margin: auto;*/
  margin-left: 100px;
  margin-right: 100px;
  max-width:100%;
/*  height:800px;*/
/*position: fixed;*/
	padding-left: 20px;
	background-image: url('../img/bull-wall-street.jpg');
	background-repeat: no-repeat;
	background-size: center;
	background-attachment: fixed;
	overflow: visible;
}

#top {
	text-align: center;
}

body {
	background-color: hsl(120, 0%, 43%);
	/*background-image: url('../img/bull-wall-street.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;*/
}


.list-header {
	background:  hsl(0, 0%, 22%);
	display: flex;
	width: 400px;
	height: 50px;
	border-radius: 10px;
	align-items: center;
	padding-left: 10px;
	box-shadow: 5px 5px 5px 5px #888;
}


ul, ol {
	background: hsl(0, 0%, 22%);
	padding: 20px;
	width: 200px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px 5px #888;
}

li {
	background: hsl(0, 0%, 22%);
	margin: 5px;
	color: hsl(81, 100%, 61%);

}


.image-container {
	display: flex;
	flex-direction: column;
	width: 1100px;
	height: 700px;
	background-color: hsl(0, 0%, 22%);
	margin-top: 50px;
	margin-bottom: 50px;
	justify-content: space-between;
	padding-top: 50px;
	padding-bottom: 50px;
	border-radius: 30px;
	box-shadow: 5px 5px 5px 5px #888;

}

.column1 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.column2 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 30px;
	border-style: solid;
	border-color: darkgray;

}

table {
	background: hsl(0, 0%, 22%);
	margin-top: 10px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px 5px #888;

}

td {
	color: hsl(81, 100%, 61%);
}

th {
	background-color: hsl(81, 100%, 61%);
	text-align: left;
	padding-right: 84px;
}

a {
	color: hsl(81, 100%, 61%);
}














